In [1]:
import cv2     # for capturing videos
import math   # for mathematical operations
import matplotlib.pyplot as plt    # for plotting the images
%matplotlib inline
import pandas as pd
from keras.preprocessing import image   # for preprocessing the images
import numpy as np    # for mathematical operations
from keras.utils import np_utils
from skimage.transform import resize   # for resizing images
from sklearn.model_selection import train_test_split
from glob import glob
from tqdm import tqdm
import gzip

In [2]:
from google.cloud import storage

storage_client = storage.Client()
bucket = storage_client.bucket('kc3419-ucf-101')

In [3]:
# open the .txt file which have names of training videos
f = open("trainlist01.txt", "r")
temp = f.read()
videos = temp.split('\n')

# creating a dataframe having video names
train = pd.DataFrame()
train['video_name'] = videos
train = train[:-1]
train.head()

                                      video_name
0  ApplyEyeMakeup/v_ApplyEyeMakeup_g08_c01.avi 1
1  ApplyEyeMakeup/v_ApplyEyeMakeup_g08_c02.avi 1
2  ApplyEyeMakeup/v_ApplyEyeMakeup_g08_c03.avi 1
3  ApplyEyeMakeup/v_ApplyEyeMakeup_g08_c04.avi 1
4  ApplyEyeMakeup/v_ApplyEyeMakeup_g08_c05.avi 1

In [4]:
f = open("testlist01.txt", "r")
temp = f.read()
videos = temp.split('\n')

# creating a dataframe having video names
test = pd.DataFrame()
test['video_name'] = videos
test = test[:-1]
test.head()

                                    video_name
0  ApplyEyeMakeup/v_ApplyEyeMakeup_g01_c01.avi
1  ApplyEyeMakeup/v_ApplyEyeMakeup_g01_c02.avi
2  ApplyEyeMakeup/v_ApplyEyeMakeup_g01_c03.avi
3  ApplyEyeMakeup/v_ApplyEyeMakeup_g01_c04.avi
4  ApplyEyeMakeup/v_ApplyEyeMakeup_g01_c05.avi

In [5]:
#creating tags for training videos
train_video_tag = []
for i in range(train.shape[0]):
    train_video_tag.append(train['video_name'][i].split('/')[0])
    
train['tag'] = train_video_tag

# creating tags for test videos
test_video_tag = []
for i in range(test.shape[0]):
    test_video_tag.append(test['video_name'][i].split('/')[0])
    
test['tag'] = test_video_tag

In [6]:
train

                                         video_name             tag
0     ApplyEyeMakeup/v_ApplyEyeMakeup_g08_c01.avi 1  ApplyEyeMakeup
1     ApplyEyeMakeup/v_ApplyEyeMakeup_g08_c02.avi 1  ApplyEyeMakeup
2     ApplyEyeMakeup/v_ApplyEyeMakeup_g08_c03.avi 1  ApplyEyeMakeup
3     ApplyEyeMakeup/v_ApplyEyeMakeup_g08_c04.avi 1  ApplyEyeMakeup
4     ApplyEyeMakeup/v_ApplyEyeMakeup_g08_c05.avi 1  ApplyEyeMakeup
...                                             ...             ...
9532                    YoYo/v_YoYo_g25_c01.avi 101            YoYo
9533                    YoYo/v_YoYo_g25_c02.avi 101            YoYo
9534                    YoYo/v_YoYo_g25_c03.avi 101            YoYo
9535                    YoYo/v_YoYo_g25_c04.avi 101            YoYo
9536                    YoYo/v_YoYo_g25_c05.avi 101            YoYo

[9537 rows x 2 columns]

In [7]:
test

                                       video_name             tag
0     ApplyEyeMakeup/v_ApplyEyeMakeup_g01_c01.avi  ApplyEyeMakeup
1     ApplyEyeMakeup/v_ApplyEyeMakeup_g01_c02.avi  ApplyEyeMakeup
2     ApplyEyeMakeup/v_ApplyEyeMakeup_g01_c03.avi  ApplyEyeMakeup
3     ApplyEyeMakeup/v_ApplyEyeMakeup_g01_c04.avi  ApplyEyeMakeup
4     ApplyEyeMakeup/v_ApplyEyeMakeup_g01_c05.avi  ApplyEyeMakeup
...                                           ...             ...
3778                      YoYo/v_YoYo_g06_c04.avi            YoYo
3779                      YoYo/v_YoYo_g07_c01.avi            YoYo
3780                      YoYo/v_YoYo_g07_c02.avi            YoYo
3781                      YoYo/v_YoYo_g07_c03.avi            YoYo
3782                      YoYo/v_YoYo_g07_c04.avi            YoYo

[3783 rows x 2 columns]

In [8]:
IMG_SIZE = 224
BATCH_SIZE = 64
EPOCHS = 10

In [9]:
def crop_center_square(frame):
    y, x = frame.shape[0:2]
    min_dim = min(y, x)
    start_x = (x // 2) - (min_dim // 2)
    start_y = (y // 2) - (min_dim // 2)
    return frame[start_y : start_y + min_dim, start_x : start_x + min_dim]


def load_video(path, max_frames=0, resize=(IMG_SIZE, IMG_SIZE)):
    blob = bucket.blob(path)
    print(blob)
    destination_file_name = "UCF/" +path
    with open(destination_file_name, "wb") as file_obj:
        blob.download_to_file(file_obj)
        
    cap = cv2.VideoCapture("UCF/" +path)
    frames = []
    try:
        while True:
            ret, frame = cap.read()
            if not ret:
                break
            frame = crop_center_square(frame)
            frame = cv2.resize(frame, resize)
            frame = frame[:, :, [2, 1, 0]]
            frames.append(frame)

            if len(frames) == max_frames:
                break
    finally:
        cap.release()
    return np.array(frames)

In [ ]:
train_class = np.empty((train.shape[0]), dtype=int)

for i in tqdm(range(train.shape[0])):
    
    train_frames = np.empty((1, 20, 224, 224, 3), dtype=object)
    videoFile = train['video_name'][i]
    print(videoFile)
    path = videoFile.split(' ')[0].split('/')[1]
    print(path)
    train_frames[0] = load_video(path, 20)
    train_class[i] = videoFile.split(' ')[1]
    
    destination_path = "UCF-preprocessed/" + path + ".npy.gz"
    f = gzip.GzipFile(destination_path, "w")
    np.save(f, np.array(train_frames[0]))
    f.close()

plt.figure(figsize=(15,15))
for i in range(20):
    plt.subplot(1,20,i+1) 
    plt.imshow(frames[i])

In [10]:
train_class = np.empty((train.shape[0]), dtype=int)
for i in tqdm(range(train.shape[0])):
    videoFile = train['video_name'][i]
    train_class[i] = videoFile.split(' ')[1]

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 9537/9537 [00:00<00:00, 193423.19it/s]

In [11]:
import gzip
f1 = gzip.GzipFile('UCF-preprocessed/v_ApplyEyeMakeup_g08_c01.avi.npy.gz', "r")
dataset1= np.load(f1, allow_pickle= True)


f2 = gzip.GzipFile('UCF-preprocessed/v_ApplyEyeMakeup_g08_c02.avi.npy.gz', "r")
dataset2= np.load(f2, allow_pickle= True)

In [12]:
dataset1.shape

(20, 224, 224, 3)

In [13]:
dataset2.shape

(20, 224, 224, 3)

In [14]:
dataset = np.stack((dataset1, dataset2))

In [15]:
dataset.shape

(2, 20, 224, 224, 3)

In [16]:
dataset = np.asarray(dataset).astype(np.float32)

In [17]:

#TF specific imports
from tensorflow.keras.layers import *
from tensorflow.keras.models import Model, Sequential
from tensorflow.keras.optimizers import Adam, SGD
from tensorflow.keras.callbacks import EarlyStopping, ModelCheckpoint, LearningRateScheduler

def Conv(filters=16, kernel_size=(3,3,3), activation='relu', input_shape=None):
    if input_shape:
        return Conv3D(filters=filters, kernel_size=kernel_size, padding='Same', activation=activation, input_shape=input_shape)
    else:
        return Conv3D(filters=filters, kernel_size=kernel_size, padding='Same', activation=activation)


def Get3DCNNModel(input_dim,num_classes):
    
    model = Sequential()
    model.add(Conv(2, (3,3,3), input_shape=input_dim))
    model.add(Conv(2, (3,3,3)))
    # model.add(BatchNormalization())
    model.add(MaxPool3D())
    # model.add(Dropout(0.25))

    model.add(Conv(2, (3,3,3)))
    model.add(Conv(2, (3,3,3)))
    model.add(BatchNormalization())
    model.add(MaxPool3D())
    model.add(Dropout(0.25))

    model.add(Flatten())

    model.add(Dense(4096, activation='relu'))
    model.add(Dropout(0.5))

    model.add(Dense(1024, activation='relu'))
    model.add(Dropout(0.5))

    model.add(Dense(num_classes, activation='softmax'))
    
    return model

In [18]:
cnn3d_model = Get3DCNNModel(dataset[1,].shape,2)
cnn3d_model.compile(optimizer=Adam(lr=0.001), loss='sparse_categorical_crossentropy', metrics=['categorical_accuracy'])
cnn3d_model.summary()

2021-12-14 03:34:34.315384: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:939] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2021-12-14 03:34:34.326310: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:939] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2021-12-14 03:34:34.326981: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:939] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2021-12-14 03:34:34.328154: I tensorflow/core/platform/cpu_feature_guard.cc:151] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2021-12-14 03:34:34.328637: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:939] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2021-12-14 03:34:34.329293: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:939] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2021-12-14 03:34:34.329868: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:939] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2021-12-14 03:34:34.843772: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:939] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2021-12-14 03:34:34.844528: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:939] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2021-12-14 03:34:34.845105: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:939] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2021-12-14 03:34:34.845649: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1525] Created device /job:localhost/replica:0/task:0/device:GPU:0 with 13817 MB memory:  -> device: 0, name: Tesla T4, pci bus id: 0000:00:04.0, compute capability: 7.5

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 conv3d (Conv3D)             (None, 20, 224, 224, 2)   164

 conv3d_1 (Conv3D)           (None, 20, 224, 224, 2)   110

 max_pooling3d (MaxPooling3D  (None, 10, 112, 112, 2)  0
 )

 conv3d_2 (Conv3D)           (None, 10, 112, 112, 2)   110

 conv3d_3 (Conv3D)           (None, 10, 112, 112, 2)   110

 batch_normalization (BatchN  (None, 10, 112, 112, 2)  8
 ormalization)

 max_pooling3d_1 (MaxPooling  (None, 5, 56, 56, 2)     0
 3D)

 dropout (Dropout)           (None, 5, 56, 56, 2)      0

 flatten (Flatten)           (None, 31360)             0

 dense (Dense)               (None, 4096)              128454656

 dropout_1 (Dropout)         (None, 4096)              0

 dense_1 (Dense)             (None, 1024)              4195328

 dropout_2 (Dropout)         (None, 1024)              0

 dense_2 (Dense)             (None, 2)                 2050

=================================================================
Total params: 132,652,536
Trainable params: 132,652,532
Non-trainable params: 4
_________________________________________________________________

/opt/conda/lib/python3.7/site-packages/keras/optimizer_v2/adam.py:105: UserWarning: The `lr` argument is deprecated, use `learning_rate` instead.
  super(Adam, self).__init__(name, **kwargs)

In [19]:
cnn3d_model.fit(dataset, train_class[:2], batch_size= 2, epochs =1)

2021-12-14 03:34:37.006684: I tensorflow/stream_executor/cuda/cuda_dnn.cc:366] Loaded cuDNN version 8200

1/1 [==============================] - 4s 4s/step - loss: 6.5326 - categorical_accuracy: 1.0000